<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  <!-- EN: None -->
  <TabSorting.None>无</TabSorting.None>
  <!-- EN: None (Hidden) -->
  <TabSorting.NoneHidden>无 (Hidden)</TabSorting.NoneHidden>
  <!-- EN: NO -->
  <TabSorting.No>否</TabSorting.No>
  <!-- EN: YES -->
  <TabSorting.Yes>是</TabSorting.Yes>
  <!-- EN: OK -->
  <TabSorting.Ok>好的</TabSorting.Ok>
  <!-- EN: Default -->
  <TabSorting.Default>默认</TabSorting.Default>
  <!-- EN: Settings -->
  <TabSorting.Settings>设置</TabSorting.Settings>
  <!-- EN: Filter list -->
  <TabSorting.Search>过滤列表</TabSorting.Search>
  <!-- EN: Tab-sorting -->
  <TabSorting.TabSorting>选项卡排序</TabSorting.TabSorting>
  <!-- EN: Button-sorting -->
  <TabSorting.ButtonSorting>底部按钮排序</TabSorting.ButtonSorting>
  <!-- EN: Choose Tab-icon -->
  <TabSorting.ChooseTabIcon>选择选项卡图标</TabSorting.ChooseTabIcon>
  <!-- EN: Hidden -->
  <TabSorting.Hidden>已隐藏</TabSorting.Hidden>
  <!-- EN: New tab-name -->
  <TabSorting.NewTab>新选项卡名称</TabSorting.NewTab>
  <!-- EN: Create new tab -->
  <TabSorting.CreateNew>创建新选项卡</TabSorting.CreateNew>
  <!-- EN: Rename -->
  <TabSorting.Rename>重命名</TabSorting.Rename>
  <!-- EN: Edit -->
  <TabSorting.Edit>编辑</TabSorting.Edit>
  <!-- EN: Create -->
  <TabSorting.Create>创建</TabSorting.Create>
  <!-- EN: Delete -->
  <TabSorting.Delete>删除</TabSorting.Delete>
  <!-- EN: Tab named {0} already exists! -->
  <TabSorting.Exists>选项卡 {0} 已经存在!</TabSorting.Exists>
  <!-- EN: Current custom tabs: {0} -->
  <TabSorting.CurrentCustom>当前的自定义选项卡：{0}</TabSorting.CurrentCustom>
  <!-- EN: Unloaded mod -->
  <TabSorting.UnloadedMod>卸载模式</TabSorting.UnloadedMod>
  <!-- EN: Custom tab -->
  <TabSorting.CustomTab>自定义选项卡</TabSorting.CustomTab>
  <!-- EN: Reset -->
  <TabSorting.Reset>重置</TabSorting.Reset>
  <!-- EN: Vanilla UI Expanded mod is loaded, some settings not available. Restart is needed to apply the main sorting -->
  <TabSorting.VanillaUI.Label>Vanilla UI Expanded 模块已加载，一些设置不可用。需要重新启动以应用排序工作</TabSorting.VanillaUI.Label>
  <!-- EN: Vanilla UI Expanded has a more user-friendly UI for organizing tabs. The main sorting functions of this mod is still available but manual designations or sorting of the tabs themselves will not be applied. -->
  <TabSorting.VanillaUI.Tooltip>Vanilla UI Expanded 有一个更用户友好化的 UI 来组织选项卡。此模块的主要排序功能仍然可用，但自身的手动指定或排序选项卡将不被应用。</TabSorting.VanillaUI.Tooltip>
  <!-- EN: All tabs will revert back to their vanilla values.
  Continue? -->
  <TabSorting.ResetTabsort>所有的选项卡将恢复到它们的原始值。\n是否继续？</TabSorting.ResetTabsort>
  <!-- EN: All Buttons will revert back to their vanilla values.
  Continue? -->
  <TabSorting.ResetButtonsort>所有的按钮将恢复到它们的原始值。\n是否继续？</TabSorting.ResetButtonsort>
  <!-- EN: All items in this tab will be restored to their original tabs and this tab will be removed. Continue? -->
  <TabSorting.ResetOne>此选项卡被删除后，下属所有项目将被恢复到其原始选项卡下。是否继续？</TabSorting.ResetOne>
  <!-- EN: Reset all -->
  <TabSorting.ResetAll>重置所有</TabSorting.ResetAll>
  <!-- EN: Reset sortings -->
  <TabSorting.ResetSort>重置分类</TabSorting.ResetSort>
  <!-- EN: Reset ordering -->
  <TabSorting.ResetOrder>重置顺序</TabSorting.ResetOrder>
  <!-- EN: Group containing: \n{0} -->
  <TabSorting.GroupContaining>包含组: \n{0}</TabSorting.GroupContaining>
  <!-- EN: Installed mod-version: {0} -->
  <TabSorting.ModVersion>已安装模块版本：{0}</TabSorting.ModVersion>
  <!-- EN: The More Planning mod is loaded and will loose its colored designators if the sorting is redone after game-start. Do you want to resort the menu? If NO, only the settings will be saved and applied the next game-start. -->
  <TabSorting.MorePlanning>游戏开始后，重新应用分类选项卡将导致“More Planning 更多计划”模块失去其彩色标记。你想恢复菜单吗？如果不，该设置会被保存并在下次游戏开始时应用。</TabSorting.MorePlanning>
  <!-- EN: LWM's Deep Storage is active. It has its own logic for sorting storage-furniture. For compatibility, please turn OFF the following options in LWMs settings:\n\n- Always show storage categry?\n- Put (almost) ALL storage units here? -->
  <TabSorting.DeepStorage>LWM 的 DeepStorage 深度存储已启用。它有自己的逻辑来分类存储家具。为了兼容，请关闭 LWM 设置中的以下选项：\n\n- 总是显示存储分类？\n- 把（几乎）所有存储单位放在这里？</TabSorting.DeepStorage>
  <!-- EN: Sort lights -->
  <TabSorting.SortLights.Label>分类灯具</TabSorting.SortLights.Label>
  <!-- EN: Moves all lights to the Lights-tab -->
  <TabSorting.SortLights.Tooltip>将所有的灯具移至“灯具”选项卡中</TabSorting.SortLights.Tooltip>
  <!-- EN: Sort floors -->
  <TabSorting.SortFloors.Label>分类地板</TabSorting.SortFloors.Label>
  <!-- EN: Moves all floors to the Floors-tab -->
  <TabSorting.SortFloors.Tooltip>将所有地板移至“地板”选项卡中</TabSorting.SortFloors.Tooltip>
  <!-- EN: Sort walls and doors -->
  <TabSorting.SortWallsDoors.Label>分类墙和门</TabSorting.SortWallsDoors.Label>
  <!-- EN: Moves all doors and walls to the Structure-tab -->
  <TabSorting.SortWallsDoors.Tooltip>将所有的门和墙移至“结构”选项卡中</TabSorting.SortWallsDoors.Tooltip>
  <!-- EN:    Sort doors separatly -->
  <TabSorting.SortDoors.Label>    单独对门进行分类</TabSorting.SortDoors.Label>
  <!-- EN: Moves all doors to the Doors-tab -->
  <TabSorting.SortDoors.Tooltip>将所有的门移至“门”选项卡中。</TabSorting.SortDoors.Tooltip>
  <!-- EN: Sort tables and chairs -->
  <TabSorting.SortTablesChairs.Label>分类桌子和椅子</TabSorting.SortTablesChairs.Label>
  <!-- EN: Moves all tables and chairs the Table/Chairs-tab -->
  <TabSorting.SortTablesChairs.Tooltip>将所有的桌子和椅子移至“桌子/椅子”选项卡中</TabSorting.SortTablesChairs.Tooltip>
  <!-- EN: Sort bedroom furniture -->
  <TabSorting.SortBedroom.Label>分类卧室家具</TabSorting.SortBedroom.Label>
  <!-- EN: Moves all bedroom-furniture to the Bedroom-tab -->
  <TabSorting.SortBedroom.Tooltip>将所有的卧室家具移至“卧室”选项卡中</TabSorting.SortBedroom.Tooltip>
  <!-- EN: Sort kitchen furniture -->
  <TabSorting.SortKitchen.Label>分类厨房家具</TabSorting.SortKitchen.Label>
  <!-- EN: Moves all kitchen-furniture to the Kitchen-tab -->
  <TabSorting.SortKitchen.Tooltip>将所有的厨房家具移至“厨房”选项卡中</TabSorting.SortKitchen.Tooltip>
  <!-- EN: Sort hospital furniture -->
  <TabSorting.SortHospital.Label>分类医院设备</TabSorting.SortHospital.Label>
  <!-- EN: Moves all hospital-furniture to the Hospital-tab -->
  <TabSorting.SortHospital.Tooltip>将所有医院家具移至“医院”选项卡中</TabSorting.SortHospital.Tooltip>
  <!-- EN: Sort research furniture -->
  <TabSorting.SortResearch.Label>分类研究设备</TabSorting.SortResearch.Label>
  <!-- EN: Moves all research-furniture to the Research-tab -->
  <TabSorting.SortResearch.Tooltip>将所有的研究家具移至“研究”选项卡中</TabSorting.SortResearch.Tooltip>
  <!-- EN: Sort decorations -->
  <TabSorting.SortDecoration.Label>分类装饰品</TabSorting.SortDecoration.Label>
  <!-- EN: Moves all rugs, plantpots and other cosmetic items to the Decorations-tab -->
  <TabSorting.SortDecoration.Tooltip>将所有地毯、花盆和其他装饰品移至“装饰品”选项中</TabSorting.SortDecoration.Tooltip>
  <!-- EN: Sort storage -->
  <TabSorting.SortStorage.Label>分类存储</TabSorting.SortStorage.Label>
  <!-- EN: Moves all storage to the Storage-tab -->
  <TabSorting.SortStorage.Tooltip>将所有的有关存储项目移至“存储”选项卡中</TabSorting.SortStorage.Tooltip>
  <!-- EN: Sort garden tools -->
  <TabSorting.SortGarden.Label>分类园艺用具</TabSorting.SortGarden.Label>
  <!-- EN: Moves all garden items to the Garden-tab -->
  <TabSorting.SortGarden.Tooltip>将所有有关园艺项目移至“园艺”选项卡中</TabSorting.SortGarden.Tooltip>
  <!-- EN: Sort fences -->
  <TabSorting.SortFences.Label>分类栅栏</TabSorting.SortFences.Label>
  <!-- EN: Moves all fences to the Fences-tab -->
  <TabSorting.SortFences.Tooltip>将所有栅栏移至“栅栏”选项卡中</TabSorting.SortFences.Tooltip>
  <!-- EN: Sort ideology -->
  <TabSorting.SortIdeology.Label>分类文化</TabSorting.SortIdeology.Label>
  <!-- EN: Moves all Ideology related furniture to the Ideology-tab -->
  <TabSorting.SortIdeology.Tooltip>将所有与文化有关的家具移至“文化”选项卡中</TabSorting.SortIdeology.Tooltip>
  <!-- EN: Remove empty tabs after sorting -->
  <TabSorting.RemoveEmpty.Label>分类后删除空选项卡</TabSorting.RemoveEmpty.Label>
  <!-- EN: If a tab has no things left to build after sorting, remove the tab -->
  <TabSorting.RemoveEmpty.Tooltip>如果一个选项卡在分类后没有任何项目，就删除该选项卡</TabSorting.RemoveEmpty.Tooltip>
  <!-- EN: Group things that use the same designator dropdown -->
  <TabSorting.GroupThings.Label>将使用相同指示符的下拉菜单分组</TabSorting.GroupThings.Label>
  <!-- EN: Some items can use the same button, similar to when an item can be built with different materials. Enabling this option makes it possible to treat these as one item to move instead of individual items. -->
  <TabSorting.GroupThings.Tooltip>有些物品可以使用相同的按钮，类似于一个物品可以用不同的材料建造。启用该选项即可将之视为一个物品进行移动，而不是各自独立的物品。</TabSorting.GroupThings.Tooltip>
  <!-- EN: Sort all tabs alphabetically -->
  <TabSorting.SortTabs.Label>按字母顺序排列所有选项卡</TabSorting.SortTabs.Label>
  <!-- EN: Puts all tabs in alphabetical order -->
  <TabSorting.SortTabs.Tooltip>将所有选项卡按字母顺序排列</TabSorting.SortTabs.Tooltip>
  <!-- EN:    But skip Orders and Zone-tab -->
  <TabSorting.SkipZoneOrders.Label>但跳过订单和区域选项卡</TabSorting.SkipZoneOrders.Label>
  <!-- EN: Orders and Zone-tab will remain in the top if the menu -->
  <TabSorting.SkipZoneOrders.Tooltip>订单和区域选项卡将保留在菜单的顶部。</TabSorting.SkipZoneOrders.Tooltip>
  <!-- EN: Manual sorting reset -->
  <TabSorting.ManualReset.Label>重置手动排序</TabSorting.ManualReset.Label>
  <!-- EN: Reset all manually defined sortings and order of gizmos -->
  <TabSorting.ManualReset.Tooltip>重置所有手动设置的项目分类及顺序</TabSorting.ManualReset.Tooltip>
  <!-- EN: NOTICE: If you have a running map you might get a graphic issue with the placement of the info-box when adding/removing tabs. If so, a reload of the save should help. -->
  <TabSorting.MapRunning.Label>注意：如果你有一张正在运行的地图，在添加/删除选项卡时，信息框的位置可能会出现图形问题。如果这样，请尝试重新加载存档。</TabSorting.MapRunning.Label>
  <!-- EN: Enable verbose logging -->
  <TabSorting.VerboseLogging.Label>启用调试日志记录</TabSorting.VerboseLogging.Label>
  <!-- EN: Shows verbose logging during sorting, for finding errors -->
  <TabSorting.VerboseLogging.Tooltip>在排序过程中打印调试日志，用于查找错误</TabSorting.VerboseLogging.Tooltip>
  <!-- EN: Move everything -->
  <TabSorting.MoveEverything>移动所有至</TabSorting.MoveEverything>
  <!-- EN: Select -->
  <TabSorting.Select>选择</TabSorting.Select>
</LanguageData>
